@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200;300;400;500;600;700&family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap");

:root {
  font-family: "Anuphan", "Darker Grotesque", "sans-serif";
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f9ec;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

#grid-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

div.cell {
  text-align: center;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  padding: 20px;
  border: 5px solid black;
  transition: ease-in-out 0.3s;
}

div.cell:hover {
  transform: scale(1.15);
  border: 5px solid red;
  background-color: red;
  color: #f1f9ec;
}

#form-container > form > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h2 {
  margin: 10px;
}

label {
  margin: 10px;
}

button,
select {
  box-shadow: 5px 5px 5px black;
  text-align: center;
  padding: 5px;
}

input[type="text"] {
  border-radius: 10px;
}

input[type="text"]:focus {
  outline: none;
}

section.footer {
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.select-box {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}

.select-box:focus {
  outline: none;
  border-color: #0056b3;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #f1f9ec;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  color: #f1f9ec;
}

section.footer > div {
  margin-top: 10px;
  text-align: center;
}

div#scoreboard {
  font-size: 1.25rem;
  font-weight: bold;
}
